<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
	<title>Reactive Tarot</title>
</head>
<body>
  <script>document.body.className += ' fade-out';</script>
  
  <header>
    <h1 class="logo" onclick={showMenu()}>Reactive Tarot</h1>
  </header>

    <div class="menu-container">
      <section class="menu cards">

      </section>
      <h3 class="about" onclick="openAPIDocs()">About the API</h3>
    </div>

    <div id="modal" class="modal">

      <div class="modal-content">

      </div>

    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>
